---
---

@font-face {
    font-family: "Open Sans";
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Bebas Neue";
    src: url('/fonts/BebasNeue-Regular.otf') format('opentype');
}

body {
    font-family: "Open Sans";
    background-color: #fcfcfc;
    color: #444;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

.site-header, .post-header {
    font-family: "Bebas Neue";
    padding: 10px 0;
}

.site-title {
    margin-bottom: 0;
}

.site-footer {
    font-family: "Bebas Neue";
    padding: 10px 0;
}

.site-twitter {
    margin-top: 0;
    color: #555;
}

.page {
    padding: 15px 0;
    background-color: #fcfcfc;
}

.post-link, .post-title {
    font-family: "Bebas Neue", serif;
    margin-bottom: 0;
}

.post-date {
    margin-bottom: 0;
}
