---
---

@font-face {
    font-family: "Open Sans";
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Bebas Neue";
    src: url('/fonts/BebasNeue-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-Black";
    src: url('/fonts/Montserrat-Black.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url('/fonts/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-Hairline";
    src: url('/fonts/Montserrat-Hairline.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-Light";
    src: url('/fonts/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('/fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('/fonts/Montserrat-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: "Montserrat-UltraLight";
    src: url('/fonts/Montserrat-UltraLight.otf') format('opentype');
}

body {
    font-family: "Open Sans";
    background-color: #fafafa;
    color: #444;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

.img-circle {
    border-radius: 50%;
}

.site-header, .post-header {
    font-family: "Bebas Neue";
    padding: 10px 0;
}

.site-header {
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-header img {
    width: 50px;
    height: 50px;
}

.site-title {
    margin-left: 5px;
    margin-bottom: 0;
}

.site-footer {
    font-family: "Bebas Neue";
    padding: 10px 5px;
}

.site-twitter {
    color: #555;
    margin-bottom: 0;
}

.page {
    padding: 15px 5px;
}

.post-link, .post-title {
    font-family: "Bebas Neue", serif;
    margin-bottom: 0;
}

.post-date {
    margin-bottom: 0;
}

.post-navigation {
    display: flex;
    justify-content: space-between;
}

.minimal-posts-list li {
    margin-bottom: 0;
    margin-top: 5px;
}
