---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: News Cycle, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$primary:           #b10046;
$primary-dark:      #8a0036;
$secondary:         #0095b1;
$secondary-dark:    #007c8a;
$trinary:           #00b112;
$trinary-dark:      #0080af;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// @font-face {
//     font-family: RobotoLight;
//     src: url({{"/fonts/Roboto-Light.ttf" | prepend: site.baseurl }})
// }

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle Regular'), local('NewsCycle-Regular'), url(http://fonts.gstatic.com/s/newscycle/v12/9Xe8dq6pQDsPyVH2D3tMQr3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: local('News Cycle Bold'), local('NewsCycle-Bold'), url(http://fonts.gstatic.com/s/newscycle/v12/G28Ny31cr5orMqEQy6ljt3bFhgvWbfSbdVg11QabG8w.woff) format('woff');
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;

// FI Sizes
.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

.fa-twitter {
  color: #55ACEE;
}

.fa-github {
  color: #333;
}

.navbar {
  font-family: $base-font-family;
}

a.navbar-brand:active  {
  text-decoration: none;
}

a.navbar-brand:visited  {
  text-decoration: none;
}

.navbar-default .navbar-brand {
  // color: #ff2052;
  // color: #0a89ff
  // color: #6699ff;
  color: $primary;
}

.navbar-default .navbar-brand:hover {
  color: $primary-dark;
}

.navbar-default .navbar-brand:focus {
  color: $primary;
}

a:focus {
  outline: none;
}

.navbar-brand img{
  height: 35px;
  width: 35px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

// Footer
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.footer .container .text-muted{
  margin-top: 15px;
}

.text-muted {
  color: #777;
}

.post-container .post-link{
  margin-bottom: 0;
}

.post-container .post-date{
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.post-container .post-preview {
  margin-left: 5px;
  margin-bottom: 10px;
}

.minimal-posts-list {
  margin: 15px 0 0 0;
}

.game-img-footer {
  height: 35px;
  width: 35px;
}

.page-content { 
  margin-bottom: 100px;
}

.proficient-container {
  text-align: center;
}

.list-inline {
  margin-left: auto;
  margin-right: auto;
}

.proficient-span {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.proficient-span img{
  height:50px;
  width: 50px;
  background-color: #EFEFEF;
}