<div class="footer hidden-xs">
	<div class="container">
		<p class="text-muted">Current Playlist:
			<a href="http://www.metacritic.com/game/3ds/monster-hunter-4-ultimate"><img src="/images/monster-hunter-4.jpg" class="img-circle game-img-footer" />Monster Hunter 4 Ultimate</a>,
			<a href="http://www.metacritic.com/game/3ds/pokemon-omega-ruby"><img src="/images/pokemon-omega-ruby.jpg"/class="img-circle game-img-footer">Pokemon Omega Ruby</a>,
			<a href="http://www.metacritic.com/game/3ds/super-smash-bros-for-nintendo-3ds"><img src="/images/ssb4.png" class="img-circle game-img-footer"/>Super Smash Bros.</a></p>
	</div>
</div>
