<div class="footer hidden-xs">
	<div class="container">
		<p class="text-muted">Current Playlist: 
			<a href="http://www.atlus.com/p4g/"><img src="/images/Persona4Golden.jpg" class="img-circle game-img-footer" />Persona 4 Golden</a>, 
			<a href="http://www.roguelegacy.com/"><img src="/images/RogueLegacy.jpg"/class="img-circle game-img-footer">Rogue Legacy</a>, 
			<a href="https://mercenary.killzone.com/"><img src="/images/KillzoneMercenary.jpg" class="img-circle game-img-footer"/>Killzone: Mercenary</a></p>
	</div>
</div>