<div class="container">
    <div class="row">
        <div class="site-header">
            <div class="site-left site-header-item">
                <img src="{{site.baseurl}}/images/zackshank.jpg" class="img-circle"/>
                <h3 class="site-title">
                    <a href="/">{{site.title}}</a>
                </h3>
            </div>
            <div class="site-right site-header-item">
                <h6 class="site-twitter"><a href="http://twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a></h6>
            </div> 
	</div>
    </div>
</div>
