<img src="/images/me.jpg" class="img-circle" style="width: 50%; height: 50%">
<h3 style="margin-bottom: 5px;">Zack Shank</h3>
<ul class="me-links size-12" style="list-style-type: none; margin-left: 0;">
    <li>
        <a href="http://twitter.com/{{ site.twitter_username}}" class="text-muted">@thezackshank</a>
    </li>
    <li>
        <a href="mailto:{{site.email}}" class="text-muted">{{site.email}}</a>
    </li>
    <li>
        <a href="http://github.com/{{ site.github_username}}" class="text-muted">github.com/zackshank</a>
    </li>
</ul>
